@import "@kinetix/core/src/Theme/Styles/DefaultVariables.scss";
.messageBox-window{
  .k-window-titlebar{
    .k-window-title{
      padding-bottom: 2px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
       }
  }
  
.messageBox{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .messageBox-contents{
        flex:content;
        overflow: hidden;
        display: flex;
        border-top: 1px solid $kx-content-700;
        border-bottom: 1px solid $kx-content-700;
        margin-bottom: 4px;
        .messageBox-icon{
          .message-box-icon{
            font-size: 36px !important;
          }
          .message-box-warning {
            width: 36px;
            height: 36px;
            background-image: url("../../Theme/Icons/images/warning.svg");
            background-size: 36px 36px;
          }
          .message-box-error {
            background: white;
            border-radius: 50%;
        border: red solid 5px;
        
            &::before {
              color: red;
            }
          }
          
      }
      .messageBox-message
      {
        display: flex;
        flex:content;
        overflow: hidden;
        .html-editor{
          background: transparent;
          border: none;
          border-radius: 0;
          .html-message{
            flex:content;
            background: transparent;
            
            border: none;
        }
      }

        textarea, .textarea {
          flex:content;
            resize: none;
            height: 100%;
            border-color:transparent !important;
            background: transparent !important;
          
          }
        }
      }
        
    .messageBox-actions{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        overflow: hidden;
        padding: 0.5em;
        .k-button{
          min-width: 5em;
          margin-left: 0.8em;
          border-radius: 4px;
        }
        .yesButton{
          background-color: $kx-error-400;
          color: $kx-panel-400;
        }
        .okButton{
          background-color: $kx-error-400;
          color: $kx-panel-400;
        }
       
    }
    
      
      
}
}