@import "@kinetix/core/src/Theme/Styles/DefaultVariables.scss";
.AutoComplete {
  flex: content;
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;

  .fieldContainer {
    flex: content;
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    .field {
      flex: content;
      display: flex;
      flex-direction: row;
      border-radius: 0.5rem;
         > *:first-child {
         flex: content;
         border-radius: 0.5rem;
      }
    }
  }
  .custom__column {
    border: solid 1px $kx-content-900 !important;
    font-style: normal;
    font-family: Roboto;
    line-height: 0.937rem;
    font-size: 0.813rem;
  }

  .k-animation-container.k-animation-container-fixed {
    z-index: 1 !important;
  }
  .k-animation-container.k-animation-container-relative {
    z-index: 1 !important;
  }

  .k-checkbox {
    border: 0.1rem solid $kx-content-400 !important;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.4) !important;
    border-radius: 0.2rem !important;
  }

  .k-checkbox-label {
    font-size: 0.8rem !important;
    font-family: "Montserrat";
  }

  .template{
    display: flex;
    flex: content;
  }

  .ChipList{
    .k-chip-list {
      .k-chip {
        flex: content;
      }
    }
  }

  
  .k-chip-list {
    display: flex;
    gap: 0 !important;
    width: 100%;
    flex-flow: row wrap;
    flex: content;
    background: $kx-panel-700;
    border-radius: 0.5rem;
    min-width: 0;
    border: 1px solid transparent;
    box-shadow: none;
    min-height: 23px;
    .k-chip {
      margin: 0em;
      display: flex;
      align-items: center;
      min-width: 0;
      min-height: 22px;
      background: transparent;
      border-radius: 0rem;
      border: 1px solid $kx-content-700;
      font-size: 0.75rem !important;
      font-family: "Montserrat";
      font-weight: bold !important;
      box-shadow: none;
    }
    :focus {
      border: 1px solid $kx-content-400;
    }
    .k-selected {
      background: $kx-primary-400 !important;
    }
    .chip-first {
      border-radius: 0.5rem 0rem 0rem 0.5rem;
    }

    .chip-last {
      border-radius: 0rem 0.5rem 0.5rem 0rem;
    }
  }
}

.custom__autocomplete_top {
  z-index: 50000 !important;
  min-width: 350px;

  th,
  li {
    font-size: 0.75rem !important;
  }

  .options__heading {
    color: $kx-primary-200;
    text-transform: capitalize;
  }

  .k-list-conatiner {
    background-color: $kx-panel-900 !important;

    .k-selected {
      background-color: $kx-primary-200 !important;
    }

    li:hover {
      background-color: $kx-panel-700 !important;
    }
  }

  .k-treeview {
    background: $kx-panel-400;
    max-height: 300px;
    .k-selected {
      background-color: $kx-primary-200 !important;
    }

    .k-treeview-leaf:hover {
      background-color: $kx-panel-350 !important;
    }

    .last_list_item {
      width: 9.375rem !important;
    }
  }
}
