.kx-countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.937rem;
  color: #F0F0F0;
  transition: background-color 0.2s ease-in-out;

  .time-part {
    display: flex;
  }

  &.timed-out {
    color: #F8475C;
  }
}