.form-upload-field {
    @import "@kinetix/core/src/Theme/Styles/DefaultVariables.scss";
.form-upload-field-drop-area{
    display: flex;
    flex-direction: column;
    flex: content;
    border: dashed $kx-content-400 1px;
    border-radius: 0.5rem;
    font-family: $kx-font-family-base;
    cursor: pointer;
    overflow: hidden;
    .form-upload-field-drop-area-content{
        flex-direction: column;
        display: flex;
        margin-left: 8px;
        flex: content;
        overflow: hidden;
        .form-upload-field-drop-area-content-input{
            display: none;
        }
        .form-upload-field-visual-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            flex: content;
            overflow: hidden;
            padding: 4px;
            gap: 1px;
            .status-icon{
                pointer-events: none;
                align-content: center;
                height: 24px;
                width: 24px;
                &.loader{
                    padding: 0px;
                    height: unset;
                    width: unset;
                }
            }
            .files{
                display: flex;
                flex: content;
                flex-direction: column;
                gap: 2px;
                overflow: hidden;
                .file-title{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex: content;
                    overflow: hidden;
                    align-self: flex-start;
                    font-size: .875rem;
                    font-weight: 700;
                    font-family: $kx-font-family-base;
                    border: none;
                    outline: none;
                    max-width: 100%;
                    .k-button-text{
                        flex: content;
                        max-width: 100%;
                        text-align: left;
                        white-space: normal;
                        overflow-wrap: break-word;
                    }
                }
                .message{
                    pointer-events: none;
                }
                .extension{
                    text-transform: capitalize;
                    pointer-events: none;
                    font-weight: 400;
                }
                
                .file-action{
                    display: flex;
                    text-align: center;
                    align-self: center;
                    flex: content;
                }
            }
        }
        

    }
}

}