.borderLessWindow {
  border: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px !important;
  margin: 0;
  border-radius: 0px !important;

  .k-window-titlebar {
    padding: 4px !important;
    border-radius: 0px !important;
  }
  .k-appbar,
  .k-appbar .k-appbar-top {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px !important;
    border-radius: 0px !important;
  }
}
