.page-title-bar {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px !important;
  border-radius: 0px !important;
  padding: 0px !important;
  width: 100%;
  border: 0 !important;
  margin: 0 !important;
  gap: 0 !important;
  padding-block: 0px !important;
  padding-inline: 0px !important;
}
