@import "@kinetix/core/src/Theme/Styles/DefaultVariables.scss";
.toolbar {
  padding: 0px;
  margin: 0px;
  width: 100%;
  .ticket-wrapper .form-content {
    padding: 0px;
    background: transparent;
    height: 100%;
    .k-separator {
      margin-right: 5px;
    }
    .reset-filter-icon {
      margin-right: 0.2em;
      vertical-align: middle;
      path {
        fill: $kx-primary-200 !important;
      }
    }

    .refresh-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      border: 0px;
      background: transparent;
      padding: 0;
      box-shadow: -1px -1px 2px transparent, 2px 2px 4px transparent;
      &:hover {
        background-color: transparent;
        .refresh-button-icon {
          path {
            fill: $kx-primary-200 !important;
          }
        }
      }
      &.rotating {
        cursor: not-allowed;
      }

      .refresh-button-icon {
        path {
          fill: $kx-primary-400 !important;
        }
      }
      .refresh-button-icon-rtu {
        path {
          fill: $kx-series-c-400 !important;
        }
      }
    }
  }
}
