.kx-default-shell.workspace {
  @import "@kinetix/core/src/Theme/Styles/DefaultVariables.scss";
  $app-header-bg: $kx-panel-400;
  $workspace-bg: $kx-panel-900;

  $drawer-bg: $kx-panel-900;
  $kendo-color-primary: $kx-primary-200;
  $widget-bg: $kx-panel-900;
  $tab-header-bg: $kx-panel-400;
  $tab-header-selected-bg: $kx-panel-350;
  $tabheader-text-color: $kx-content-200;
  $tabheader-text-selected-color: $kx-content-200;

  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    min-height: 3rem;
    background-color: $drawer-bg;
    cursor: pointer;

    img {
      width: 2rem;
      height: auto;
    }
  }

  .app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
    height: 3rem;
    padding: 0 1rem;
    background-color: $app-header-bg;

    .k-appbar-section {
      display: flex;
      align-items: center;
      height: 100%;

      .title {
        padding-left: 32px;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }
  }

  .drawer {
    height: 100%;
    background-color: $workspace-bg;

    .k-widget.k-drawer.k-drawer-start {
      border: none;

      .item-desc {
        display: flex;
        align-items: center;
      }
    }

    &:not(.k-drawer-expanded) {
      .k-widget.k-drawer.k-drawer-start {
        max-width: 3rem;
      }
    }

    .drawer-item {
      margin: 2px;
      padding: 6px;
      .drawer-item-span {
        height: 2rem;
        width: 2rem;
        text-align: center;

        .kx-icon {
          vertical-align: middle;
          background: none;
        }
      }

      &.k-selected {
        color: $kx-primary-400 !important;
        background-color: inherit !important;
        svg path {
          fill: $kx-primary-400 !important;
        }
      }
    }

    .k-drawer-content {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .content-region {
        position: relative;
        flex: 1;
        background-color: $workspace-bg;
        padding-top: 1px;
        overflow: hidden;

        .kx-tabs {
          height: 100%;

          > .k-tabstrip-items-wrapper.k-hstack {
            height: 2rem;

            .k-tabstrip-items {
              border: none !important;

              .k-item {
                flex: 1;
                background-color: $tab-header-bg;
                border-radius: 0 !important;
                border: none;
                margin-bottom: 0;
                margin-left: 0.0625rem;

                .k-link {
                  justify-content: center;
                  font-weight: 500;
                  font-size: 0.875rem;
                  line-height: 1px;
                  color: $tabheader-text-color;
                }

                &.k-active {
                  background-color: $tab-header-selected-bg;

                  .k-link {
                    color: $tabheader-text-selected-color;
                  }
                }

                &:first-of-type {
                  margin-left: 0;
                }
              }
            }
          }

          .k-tabstrip-content {
            background-color: transparent;
            border: none;
            height: 100%;
            position: relative;
            padding: 0;
            overflow: hidden;
          }

          .k-tabstrip-content.k-active {
            position: relative;
            .k-animation-container.k-animation-container-relative {
              width: 100%;
              height: 100%;
              position: relative;

              .k-child-animation-container {
                height: 100%;

                > div {
                  height: 100%;
                }
              }
            }
          }
        }

        .widget {
          background-color: $widget-bg;
        }
      }
    }
  }

  .kx-widget {
    border-radius: 4px;
    overflow: hidden;
    background-color: $kx-panel-700;
    height: 100%;
  }

  .widgets-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 0.5rem;

    .widgets {
      flex: 1;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0.5rem !important;
        height: 0.5rem !important;
      }

      &::-webkit-scrollbar-track {
        border-radius: 0.25rem !important;
        background: transparent !important;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0.25rem !important;
        background: $kx-content-700 !important;
      }

      .dashboard-grid {
        position: relative;
        transition: height 200ms ease;

        .react-grid-item {
          transition: all 200ms ease;
          transition-property: left, top;
        }

        .react-grid-item.cssTransforms {
          transition-property: transform;
        }

        .react-grid-item.resizing {
          z-index: 1;
        }

        .react-grid-item.react-draggable-dragging {
          transition: none;
          z-index: 3;
        }

        .react-grid-item.react-grid-placeholder {
          background: $kx-panel-900;
          opacity: 0.1;
          transition-duration: 100ms;
          z-index: 2;
          border-radius: 4px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
          user-select: none;
        }

        .react-grid-item:hover > .react-resizable-handle {
          position: absolute;
          width: 0.875rem;
          height: 0.875rem;
          bottom: 4px;
          right: 4px;
          z-index: 2;
          border-bottom: 4px solid $tab-header-selected-bg;
          border-right: 4px solid $tab-header-selected-bg;
          padding: 0 4px 4px 0;
          background-repeat: no-repeat;
          background-origin: content-box;
          box-sizing: border-box;
          cursor: se-resize;
        }
      }
    }
  }
}
