.lightTheme-layout {
  height: 100%;
  width: 100%;
  $kendo-is-dark-theme: false;
  $kx-is-dark-theme: false;
  @import "../Styles/LightThemeVariables.scss";
  @import "../Styles/KendoThemeVariables.scss";
  @import "../Styles/Typography.scss";
  background-color: $kendo-component-bg !important;

  ::selection {
    background: $kx-text-highlight-400;
    color: $kx-content-50;
  }
  
  /* For Mozilla Firefox */
  ::-moz-selection {
    background: $kx-text-highlight-400;
    color: $kx-content-50;
  } 

  @at-root #{&} {
    @import "../Styles/GlobalVariables.scss";
    @include global-css-variables;
    @import "~@progress/kendo-theme-default/dist/all.scss";
    @import "../Styles/overrides.scss";
  }
}
