@import "@kinetix/core/src/Theme/Styles/DefaultVariables.scss";

.app-footer {
  
  color: $kx-content-50;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10003;
  width: 100%;
  height: 2.5rem;
  font-size: 12px;
  font-weight: 500;
  background-color: $kx-panel-900;

  & .intro-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-left: 8px;
    & span {
      white-space: pre;
      
    }
    svg{
      
      
    }
    .k-icon {
      width: unset !important;
      height: 12px !important;
      svg{
        max-height: 100%;
        max-width: 100%;
      }
    }

   
  }

  & .copyright-section {
    text-align: center;
  }

  & .links-section {
    flex: 0 0 400px;
    
    & button {
      text-decoration: underline;
      font-size: 12px;
      font-weight: 600;
    }

    & button:nth-child(2) {
      padding: 4px 0;
    }
  }
}

// TODO:  remove footer on small devices
