/* Base Color styles */
$kx-primary-400: #f36d21;
$kx-primary-200: #ff8c4a;
$kx-primary-600: #ff6b16;
$kx-error-400: #eb173e;
$kx-correct-400: #07a59b;
$kx-warning-400: #ff3d00;
$kx-warning-800: #fff6ef;
$kx-content-link-400: #f36d21;
$kx-series-a-400: #26547c;
$kx-series-b-400: #ef476f;
$kx-series-c-400: #ffd166;
$kx-series-d-400: #06d6a0;
$kx-series-e-400: #21c1f3;
$kx-series-f-400: #fffcf9;
$kx-content-50: #f0f0f0;
$kx-content-200: #f0f0f0;
$kx-content-400: #969696;
$kx-content-700: #464646;
$kx-content-900: #2f2f2f;
$kx-panel-350: #28282d;
$kx-panel-400: #232326;
$kx-panel-500: #131313;
$kx-panel-700: #18181c;
$kx-panel-900: #0f0f14;
$kx-font-family-base: "Montserrat", Menlo, Monaco, Consolas, "Roboto Mono", "Ubuntu Mono", "Lucida Console", "Courier New", monospace;