$kx-primary-400: var(--kx-primary-400);
$kx-primary-200: var(--kx-primary-200);
$kx-primary-600: var(--kx-primary-600);
$kx-error-400: var(--kx-error-400);
$kx-correct-400: var(--kx-correct-400);
$kx-warning-400: var(--kx-warning-400);
$kx-warning-800: var(--kx-warning-800);
$kx-series-a-400: var(--kx-series-a-400);
$kx-series-b-400: var(--kx-series-b-400);
$kx-series-c-400: var(--kx-series-c-400);
$kx-series-d-400: var(--kx-series-d-400);
$kx-series-e-400: var(--kx-series-e-400);
$kx-series-f-400: var(--kx-series-f-400);
$kx-content-50: var(--kx-content-50);
$kx-content-200: var(--kx-content-200);
$kx-content-400: var(--kx-content-400);
$kx-content-700: var(--kx-content-700);
$kx-content-900: var(--kx-content-900);
$kx-panel-350: var(--kx-panel-350);
$kx-panel-400: var(--kx-panel-400);
$kx-panel-500: var(--kx-panel-500);
$kx-panel-700: var(--kx-panel-700);
$kx-panel-900: var(--kx-panel-900);
$kx-font-family-base: var(--kx-font-family-base);
