@use "sass:math";
/* kendo theme colors */

$kendo-color-primary: $kx-primary-400 !default;
$kendo-color-secondary: $kx-content-50 !default;
$kendo-color-info: $kx-series-e-400 !default;
$kendo-color-success: $kx-correct-400 !default;
$kendo-color-warning: $kx-warning-400 !default;
$kendo-color-error: $kx-error-400 !default;

$kendo-body-bg: $kx-panel-700 !default;
$kendo-body-text: $kx-content-400 !default;
$kendo-headings-text: $kx-content-50 !default;
$kendo-subtle-text: $kx-content-200 !default;
$kendo-disabled-text: $kx-content-200 !default;

$kendo-component-bg: $kx-panel-700 !default;
$kendo-component-text: $kx-content-200 !default;

$kendo-base-bg: $kx-panel-500 !default;
$kendo-base-text: $kx-content-50 !default;

$kendo-hover-bg: $kx-panel-400 !default;
$kendo-hover-text: $kx-content-50 !default;

$kendo-selected-bg: $kx-primary-600 !default;
$kendo-selected-text: $kx-content-50 !default;

$kendo-button-bg: $kx-panel-400 !default;
$kendo-button-text: $kx-content-50 !default;

$kendo-link-text: $kx-primary-200 !default;
$kendo-link-hover-text: $kx-primary-600 !default;

$kendo-series-a: $kx-series-a-400 !default;
$kendo-series-b: $kx-series-b-400 !default;
$kendo-series-c: $kx-series-c-400 !default;
$kendo-series-d: $kx-series-d-400 !default;
$kendo-series-e: $kx-series-e-400 !default;
$kendo-series-f: $kx-series-f-400 !default;

$kendo-grid-alt-bg: transparent !default;
$kendo-button-hover-bg: $kx-primary-200 !default;
$kendo-button-active-bg: $kx-primary-600 !default;
$kendo-appbar-light-bg: $kx-panel-400 !default;
$kendo-appbar-light-text: $kx-content-50 !default;

$kendo-input-border: $kx-content-400 !default;
$kendo-tabstrip-border: $kx-panel-900 !default;
$kendo-tabstrip-item-border: $kx-panel-900 !default;
$kendo-tabstrip-item-selected-border: $kx-panel-900 !default;

$kendo-dialog-titlebar-bg: $kx-panel-700 !default;
$kendo-dialog-bg: $kx-panel-700 !default;

$kendo-tabstrip-item-text: $kx-content-400 !default;
$kendo-tabstrip-item-hover-text: $kx-content-200 !default;

$kendo-border-radius: 2px !default;

$kendo-font-family: inherit;
$kendo-font-size: 0.875rem;
$kendo-font-weight-normal: 400;
$kendo-line-height: math.div(20, 14);

$kendo-enable-gradients: true;
$kendo-checkbox-border: $kx-content-200 !default;
$kendo-checkbox-disabled-border: $kx-content-900 !default;
$kendo-checkbox-disabled-checked-bg: $kx-content-700 !default;
$kendo-radio-checked-bg: $kx-panel-400 !default;
$kendo-radio-checked-text: $kx-primary-400 !default;
$kendo-radio-disabled-checked-bg: $kx-panel-400 !default;
