$kx-primary-200: #ff8c4a;
$kx-primary-400: #f36d21;
$kx-primary-600: #ff6b16;
$kx-error-400: #eb173e;
$kx-correct-400: #07a59b;
$kx-warning-400: #ff3d00;
$kx-warning-800: #fff6ef;
$kx-content-link-400: #f36d21;
$kx-series-a-400: #26547c;
$kx-series-b-400: #9147ef;
$kx-series-c-400: #ffd166;
$kx-series-d-400: #06d6a0;
$kx-series-e-400: #21c1f3;
$kx-series-f-400: #7392ff;
$kx-content-50: #322c37;
$kx-content-200: #322c37;
$kx-content-400: #78737d;
$kx-content-700: #d8dcda;
$kx-content-900: #abb2af;
$kx-panel-350: #e6e6e6;
$kx-panel-400: #ffffff;
$kx-panel-500: #e6e6e6;
$kx-panel-700: #f2f2f2;
$kx-panel-900: #dcdcdc;
$kx-text-highlight-400: #ffd18b;

/* Alias tokens */
$kx-termlink-400: #8000ff;
$kx-jumplink-400: #05a6c9;
$kx-font-family-base: "Montserrat", Menlo, Monaco, Consolas, "Roboto Mono", "Ubuntu Mono", "Lucida Console", "Courier New", monospace;
