@import "@kinetix/core/src/Theme/Styles/DefaultVariables.scss";

%tb-typography {
  @include typography-classes($tb-typography);
}

.k-toolbar {
  color: $kx-content-200 !important;
  border: 0px solid $kx-panel-350;
  background-color: $kx-panel-400 !important;
  border-bottom: 1px solid #C8C8C8;
}

.k-window-actions {
  border: 0px;
}
.k-window {
  border: 3px solid $kx-panel-350;
  box-shadow: 0px 0.5rem 6rem rgba(0, 0, 0, 0.9) !important;
  border-radius: 0.75rem;
  background: $kx-panel-700;
  color: $kx-content-200 !important;
  .k-window-content {
    padding: 0 !important;
    background-color: $kx-panel-400 !important;
    border-radius: 0px 0px 0.75rem 0.75rem;
  }

  .k-window-titlebar {
    background-color: $kx-panel-400 !important;
    color: $kx-content-200 !important;
    border-width: 0px !important;
    border-radius: 0.75rem 0.75rem 0px 0px;
  }

  .k-dialog-titlebar {
    background-color: $kx-panel-400 !important;
    color: $kx-content-200 !important;
    border-width: 0px !important;
  }
}

//scrollbar design

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}
::-webkit-scrollbar-track {
  background: $kx-panel-400 ;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
   
  background: $kx-content-700;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
   background: $kx-content-900;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $kx-content-200 !important;
  -webkit-box-shadow: 0 0 0 50px $kx-panel-700 inset !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
