@import "@kinetix/core/src/Theme/Styles/DefaultVariables.scss";

.notification {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $kx-panel-400;
  color: $kx-content-50;
  min-height: 5rem;
  border-radius: 0.5rem;
  border: 1px solid $kx-panel-350;
  box-shadow: 0px 0.5rem 0.8rem $kx-panel-900;
  width: 100%;

  justify-content: space-between;
  .notificationIndicator {
    text-align: center;
    font-size: 0.775rem;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 2px;
  }
  .notificationHeader {
    display: flex;
    padding: 0 0.2rem;
    justify-content: space-between;
    flex-direction: row;
    font-weight: 400;
    align-items: center;
    font-size: 0.675rem;
    height: 26px;
    .headerNoicon {
      height: 26px;
      width: 26px;
      background-color: $kx-primary-400;
      margin: 0 4px;
      padding: 1px 4px;
      border-radius: 3px;
    }
    .headerIcon {
      height: 26px;
      width: 26px;
      font-size: 0.675rem;
      margin: 0 2px;
      padding: 1px 1px;
      border-radius: 3px;
    }
    > .k-button,
    .k-button-icon {
      font-size: 0.775rem;
    }
  }

  .notificationBody {
    padding: 0.2rem 0.4rem;
    flex: 1;
    text-align: left;
    overflow: scroll;
    font-size: 0.775rem;
    line-height: normal;
    .notificationTitle {
      font-weight: 600;
      margin-bottom: 2px;
    }
  }
  .notificationFotter {
    padding: 0.2rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 0.675rem;
    align-items: center;
    .k-button {
      font-size: 0.675rem;
    }
  }
}
