@import "@kinetix/core/src/Theme/Styles/DefaultVariables.scss";
.toasterPanel {
  background-color: transparent !important;
  height: 100%;
  vertical-align: bottom;
  display: flex;
  transition: all 0.2s ease;
  align-items: end;
  flex-direction: row;
  > .k-listview {
    flex: 1;
    border-color: transparent !important;
    background-color: transparent !important;
    font-size: 11px;
    vertical-align: bottom;
    align-items: flex-end;
    flex-direction: row-reverse;
    > .k-listview-content {
      border-color: transparent !important;
      background-color: transparent !important;
      max-height: 600px;
      align-items: flex-end;
      > .k-chip {
        border-color: transparent !important;
        background-color: transparent !important;
        width: 100%;
      }
    }
  }
}
