.kx-widget.kx-bar-widget {
  padding: 1rem 0;

  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .kx-tabs.widget-tabs.bar-widget-tabs {
    > .k-tabstrip-items-wrapper.k-hstack {
      border: none;

      .k-tabstrip-items {
        .k-item {
          background-color: transparent !important;

          &.k-active {
            background-color: transparent !important;
            border-bottom: 1px solid #1194e5 !important;
          }
        }
      }
    }

    .k-tabstrip-content.k-active {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }

  .chart {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    background-color: transparent;

    svg {
      > g > path {
        &:first-of-type {
          fill: transparent;
        }
      }
    }
  }
}
