@import "@kinetix/core/src/Theme/Styles/DefaultVariables.scss";
.FormBoolean {
  flex: content;
  display: flex;
  flex-direction: row;
  border-radius: 0rem !important;
  background: transparent !important;
  
.k-switch
{
    flex: content;
    display: flex;
    margin: 2px;
    .k-switch-label-on{
      left: 5px;
    }
    .k-switch-label-off{
      right: 5px;
    }
  }
}


