.formDataGridField {
  @import "@kinetix/core/src/Theme/Styles/DefaultVariables.scss";
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex: content;
  .loading-panel{
    background-color: transparent !important;
    .k-loading-color{
      background-color: transparent !important;
    }
  }
  > div:first-child {
    height: 100%;
    width: 100%;
    flex: content;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    
    .k-grid {
      height: 100%;
      width: 100%;
      padding: 2px;
      flex: content;
      
      .k-pager {
        background-color: $kx-panel-400;
        border-color:var(--kx-content-700);
         .k-button {
          border-radius: 0.3rem;
          border: 1px solid var(--kx-content-900);
      }
      }
    }
    .blotter-grid-server {
      .k-pager-last {
        visibility: hidden;
      }
    }
    .blotter-grid-hide-pager-numbers {
      .k-pager-numbers-wrap {
        visibility: collapse;
        max-width: 0;
      }
    }
    
  }
  
}

.formDataTreeField{
  
  @import "@kinetix/core/src/Theme/Styles/DefaultVariables.scss";
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex: content;
  .loading-panel{
    background-color: transparent !important;
    .k-loading-color{
      background-color: transparent !important;
    }
  }
  > div:first-child {
    height: 100%;
    width: 100%;
    flex: content;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    
    .data-tree{
      color: $kx-content-200;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        text-align: left;
      .k-treeview-group{
        display: flex;
        flex-direction: column;
        margin: 0;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        text-align: left;
      }
      .k-treeview-item{
        display: flex;
        flex-direction: column;
        flex: content;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        text-align: left;
      }
      
      .k-treeview-leaf{
        display: flex;
        flex-direction: row;
        flex: content;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        padding-block: 2px 4px !important;
        padding-inline: 2px !important;
      }
       .k-treeview-leaf-text{
        display: flex;
        flex-direction: row;
        flex: content;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        
      }
      .k-treeview-leaf-text > div:first-child{
        flex: content;
        flex-direction: row;
     }
    }
    .data-tree-with-lines{
      .k-treeview-item {
        &[aria-expanded="true"] {
          position: relative;
    
          &::before {
            content: "";
            position: absolute;
            width: 5px;
            left: calc(0.70rem );
            top: 0%;
            bottom: 0%;
            height: calc(100% - 2.2rem);
            margin-top: 2rem;
            border-left: 1px solid $kx-primary-200 ;//$kx-content-700;
            border-top: 1px solid $kx-primary-200;
            border-bottom: 1px solid $kx-primary-200;
          }
        }
    
        .k-treeview-leaf {
          cursor: pointer;
          border-radius: 0.5rem;
          transition: all 0.2s ease-in-out;
    
          .k-treeview-leaf-text {
            font-style: normal;
            font-weight: 500;
            font-size: 0.75rem;
            line-height: 1.25rem;
            color: $kx-content-200;
            white-space: normal;
          }
        }
      }
    }
    .k-treeview {
      height: 100%;
      width: 100%;
      padding: 2px;
      flex: content;
      
      .k-pager {
        background-color: $kx-panel-400;
        border-color:var(--kx-content-700);
         .k-button {
          border-radius: 0.3rem;
          border: 1px solid var(--kx-content-900);
      }
      }
    }
    .blotter-grid-server {
      .k-pager-last {
        visibility: hidden;
      }
    }
    .blotter-grid-hide-pager-numbers {
      .k-pager-numbers-wrap {
        visibility: collapse;
        max-width: 0;
      }
    }
    
  }
}
